# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

**Objectives**
+ popular libraries used in Data Science
+ popular Data Science tools
+ simple arithmatice operation
+ conversion of minutes to hour

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. scikit-learn
4. numpy

|Data Science Tools |
------------------------
|R-Studio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
var=(3*4)+5
print(var)

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hour = minutes/60
print(hour)

3.3333333333333335

## Author
Sonty Chatterjee